<div class="main-content right-chat-active">

  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left pe-0">
      <div class="row">
        <div class="col-xl-12">
          <div class="card shadow-xss d-block d-flex border-0 p-4 mb-3 position-fixed" style="width: 950px">
            <div class="card-body d-flex align-items-center p-0">
              <h2 class="fw-700 mb-0 mt-0 font-md text-grey-900">Results for '{{key}}'</h2>
            </div>
          </div>
          <div class="row ps-2 pe-2 mt-4" infinite-scroll
               [infiniteScrollDistance]="distance"
               [infiniteScrollThrottle]="throttle"
               (scrolled)="onScroll()"
          >
            <div class="notification-box mt-5">
              <ng-container *ngFor="let user of listUser;" class="card-body p-2">
                <div *ngIf="user.userId != currentUserId">
                  <div class="d-flex align-items-center h100 p-2 rounded-3 bg-lightblue theme-light-bg"
                       style="margin: 10px">
                    <img [src]="user.avatar" alt="avatar" class="font-xssss w75 h75 me-3 rounded-circle">
                    <h6 class="font-xss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20 cursor-pointer"><strong>
                      <a style="padding-left: 0 !important"
                         [routerLink]="['/users/user-profile',user.userId]">{{user.username}}</a></strong>
                      <app-mutual-friend [userId]="user.userId"></app-mutual-friend>
                    </h6>
                    <div style="margin-left: 550px"><app-friend-button [user]="user" [id]="user.userId"></app-friend-button></div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
