<div class="col-lg-12">
  <div class="card w-100 border-0 p-0 bg-white shadow-xss rounded-xxl">
    <div class="card-body h250 p-0 rounded-xxl overflow-hidden m-3"><img src="https://img.wallpapersafari.com/desktop/1024/576/47/40/e8CiPB.jpg"
                                                                         alt="image"></div>
    <div class="card-body p-0 position-relative">
      <figure class="avatar position-absolute w100 h100 z-index-1" style="top:-40px; left: 30px;">
        <a [href]="user.avatar" data-lightbox="roadtrip"><img
          [src]="user.avatar" alt="image" class="float-right p-1 bg-white rounded-circle w-100 h-100"></a></figure>
      <h4 class="fw-700 font-sm mt-2 mb-lg-5 mb-4 pl-15"><a [routerLink]="['/users/user-profile',user.userId]">{{user.username}}</a><span
        class="fw-500 font-xssss text-grey-500 mt-1 mb-3 d-block">{{user.email}}</span></h4>
      <div class="d-flex align-items-center justify-content-center position-absolute-md right-15 top-0 me-2">
        <div  *ngIf="isMe">
          <div style="text-align: center; width: 200px">
            <div
              class="d-none d-lg-block cursor-pointer bg-success p-2 z-index-1 rounded-3 text-white font-xsssss text-uppercase fw-700 ls-3 btn-outline-secondary"
                 [routerLink]="['/users/update-profile',user.userId]">Update profile
            </div>
          </div>
        </div>
        <div style="margin-right: 15px" *ngIf="!this.isMe">
          <div *ngIf="!friendShip" style="text-align: center; width: 170px">
            <div
              class="d-none d-lg-block cursor-pointer  bg-success p-2 z-index-1 rounded-3 text-white font-xsssss text-uppercase fw-700 ls-3 btn-outline-secondary"
                 (click)="addFriend()">Add Friend
            </div>
          </div>
          <div *ngIf="friendShip && friendShip.status == false" style="text-align: center; width: 170px">
            <div *ngIf="friendShip.receiver.userId == user.userId" class="row">
              <div
                class="col-12 d-none cursor-pointer  d-lg-block bg-success p-2 z-index-1 rounded-3 text-white font-xsssss text-uppercase fw-700 ls-3 btn-outline-secondary"
                   (click)="unFriend()">Cancel
              </div>
            </div>
            <div *ngIf="friendShip.receiver.userId != user.userId " class="row">
              <div
                class="col-6 d-none cursor-pointer d-lg-block bg-success p-2 z-index-1 rounded-3 text-white font-xsssss text-uppercase fw-700 ls-3"
                   (click)="unFriend()">Decline
              </div>
              <div
                class="col-6 d-none cursor-pointer d-lg-block bg-success p-2 z-index-1 rounded-3 text-white font-xsssss text-uppercase fw-700 ls-3"
                   (click)="accept()">Accept
              </div>
            </div>
          </div>
          <div *ngIf="friendShip && friendShip.status == true" style="text-align: center; width: 170px">

            <div class="dropdown">
              <button type="button" style="width: 160px" class="btn btn-light fw-500 p-2 text-center" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="2.2rem" height="25" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 18 17">
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>Friend</button>
              <div class="dropdown-menu">
                <li ><div type="button" class="w-100 dropdown-item text-center fw-400" (click)="unFriend()"> <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="25" fill="currentColor" class="bi bi-person-x" viewBox="0 0 18 18">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                </svg>Unfriend</div></li>
              </div>
            </div>
          </div>
        </div>


        <a href="#" title="send mail" class="d-none d-lg-block bg-greylight btn-round-lg ms-2 rounded-3 text-grey-700"><i
          class="feather-mail font-md"></i></a>
        <a href="#" id="dropdownMenu4" class="d-none d-lg-block bg-greylight btn-round-lg ms-2 rounded-3 text-grey-700"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
          class="ti-more font-md tetx-dark"></i></a>
        <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu4">
          <div class="card-body p-0 d-flex">
            <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-0">Save Link <span
              class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Add this to your saved items</span></h4>
          </div>
          <div class="card-body p-0 d-flex mt-2">
            <i class="feather-alert-circle text-grey-500 me-3 font-lg"></i>
            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-0">Hide Post <span
              class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
          </div>
          <div class="card-body p-0 d-flex mt-2">
            <i class="feather-alert-octagon text-grey-500 me-3 font-lg"></i>
            <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-0">Hide all from Group <span
              class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
          </div>
          <div class="card-body p-0 d-flex mt-2">
            <i class="feather-lock text-grey-500 me-3 font-lg"></i>
            <h4 class="fw-600 mb-0 text-grey-900 font-xssss mt-0 me-0">Unfollow Group <span
              class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body d-block w-100 shadow-none mb-0 p-0 border-top-xs">
      <ul class="nav nav-tabs h55 d-flex product-info-tab border-bottom-0 ps-4" id="pills-tab" role="tablist">
        <li class="active list-inline-item me-5"><a
          class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block active" href="#navtabs1"
          data-toggle="tab">About</a></li>
        <li class="list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block"
                                             href="#navtabs2" data-toggle="tab">Membership</a></li>
        <li class="list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block"
                                             href="#navtabs3" data-toggle="tab">Discussion</a></li>
        <li class="list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block"
                                             href="#navtabs4" data-toggle="tab">Video</a></li>
        <li class="list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block"
                                             href="#navtabs3" data-toggle="tab">Group</a></li>
        <li class="list-inline-item me-5"><a class="fw-700 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block"
                                             href="#navtabs1" data-toggle="tab">Events</a></li>
        <li class="list-inline-item me-5"><a
          class="fw-700 me-sm-5 font-xssss text-grey-500 pt-3 pb-3 ls-1 d-inline-block" href="#navtabs7"
          data-toggle="tab">Media</a></li>
      </ul>
    </div>
  </div>
</div>
