<div class="main-content right-chat-active">

  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
      <!-- loader wrapper -->

      <!-- loader wrapper -->
      <div class="row feed-body">
        <div class="col-xl-8 col-xxl-9 col-lg-8">

          <app-create-post (createdPostEvent)="addCreatedPost($event)"></app-create-post>


          <app-post-tile [posts]="posts"></app-post-tile>

        </div>
        <div class="col-xl-4 col-xxl-3 col-lg-4 ps-md-0">
          <app-friend-request-side-bar></app-friend-request-side-bar>


          <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3 mt-3">
            <div class="card-body d-flex align-items-center p-4">
              <h4 class="fw-700 mb-0 font-xssss text-grey-900">Suggest Group</h4>
              <a href="#" class="fw-600 ms-auto font-xssss text-primary">See all</a>
            </div>
            <div class="card-body d-flex pt-4 ps-4 pe-4 pb-0 overflow-hidden border-top-xs bor-0">
              <img src="https://via.placeholder.com/400x300.png" alt="img" class="img-fluid rounded-xxl mb-2">
            </div>
            <div class="card-body dd-block pt-0 ps-4 pe-4 pb-4">
              <ul class="memberlist mt-1 mb-2 ms-0 d-block">
                <li class="w20"><a href="#"><img src="https://via.placeholder.com/50x50.png" alt="user" class="w35 d-inline-block" style="opacity: 1;"></a></li>
                <li class="w20"><a href="#"><img src="https://via.placeholder.com/50x50.png" alt="user" class="w35 d-inline-block" style="opacity: 1;"></a></li>
                <li class="w20"><a href="#"><img src="https://via.placeholder.com/50x50.png" alt="user" class="w35 d-inline-block" style="opacity: 1;"></a></li>
                <li class="w20"><a href="#"><img src="https://via.placeholder.com/50x50.png" alt="user" class="w35 d-inline-block" style="opacity: 1;"></a></li>
                <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss w35 ls-3 text-center" style="height: 35px; line-height: 35px;">+2</a></li>
                <li class="ps-3 w-auto ms-1"><a href="#" class="fw-600 text-grey-500 font-xssss">Member apply</a></li>
              </ul>
            </div>



          </div>

          <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
            <div class="card-body d-flex align-items-center p-4">
              <h4 class="fw-700 mb-0 font-xssss text-grey-900">Suggest Pages</h4>
              <a href="#" class="fw-600 ms-auto font-xssss text-primary">See all</a>
            </div>
            <div class="card-body d-flex pt-4 ps-4 pe-4 pb-0 overflow-hidden border-top-xs bor-0">
              <img src="https://via.placeholder.com/400x300.png" alt="img" class="img-fluid rounded-xxl mb-2">
            </div>
            <div class="card-body d-flex align-items-center pt-0 ps-4 pe-4 pb-4">
              <a href="#" class="p-2 lh-28 w-100 bg-grey text-grey-800 text-center font-xssss fw-700 rounded-xl"><i class="feather-external-link font-xss me-2"></i> Like Page</a>
            </div>

            <div class="card-body d-flex pt-0 ps-4 pe-4 pb-0 overflow-hidden">
              <img src="https://via.placeholder.com/400x300.png" alt="img" class="img-fluid rounded-xxl mb-2 bg-lightblue">
            </div>
            <div class="card-body d-flex align-items-center pt-0 ps-4 pe-4 pb-4">
              <a href="#" class="p-2 lh-28 w-100 bg-grey text-grey-800 text-center font-xssss fw-700 rounded-xl"><i class="feather-external-link font-xss me-2"></i> Like Page</a>
            </div>


          </div>


          <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
            <div class="card-body d-flex align-items-center  p-4">
              <h4 class="fw-700 mb-0 font-xssss text-grey-900">Event</h4>
              <a href="#" class="fw-600 ms-auto font-xssss text-primary">See all</a>
            </div>
            <div class="card-body d-flex pt-0 ps-4 pe-4 pb-3 overflow-hidden">
              <div class="bg-success me-2 p-3 rounded-xxl"><h4 class="fw-700 font-lg ls-3 lh-1 text-white mb-0"><span class="ls-1 d-block font-xsss text-white fw-600">FEB</span>22</h4></div>
              <h4 class="fw-700 text-grey-900 font-xssss mt-2">Meeting with clients <span class="d-block font-xsssss fw-500 mt-1 lh-4 text-grey-500">41 madison ave, floor 24 new work, NY 10010</span> </h4>
            </div>

            <div class="card-body d-flex pt-0 ps-4 pe-4 pb-3 overflow-hidden">
              <div class="bg-warning me-2 p-3 rounded-xxl"><h4 class="fw-700 font-lg ls-3 lh-1 text-white mb-0"><span class="ls-1 d-block font-xsss text-white fw-600">APR</span>30</h4></div>
              <h4 class="fw-700 text-grey-900 font-xssss mt-2">Developer Programe <span class="d-block font-xsssss fw-500 mt-1 lh-4 text-grey-500">41 madison ave, floor 24 new work, NY 10010</span> </h4>
            </div>

            <div class="card-body d-flex pt-0 ps-4 pe-4 pb-3 overflow-hidden">
              <div class="bg-primary me-2 p-3 rounded-xxl"><h4 class="fw-700 font-lg ls-3 lh-1 text-white mb-0"><span class="ls-1 d-block font-xsss text-white fw-600">APR</span>23</h4></div>
              <h4 class="fw-700 text-grey-900 font-xssss mt-2">Aniversary Event <span class="d-block font-xsssss fw-500 mt-1 lh-4 text-grey-500">41 madison ave, floor 24 new work, NY 10010</span> </h4>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>

