<div class="main-content right-chat-active">

  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left pe-0">
      <div class="row">
        <app-user-header [user]="user"></app-user-header>
        <div class="col-xl-12">
          <div class="card shadow-xss w-100 d-block d-flex border-0 p-4 mb-3">
            <div class="card-body d-flex align-items-center p-0">
              <h2 class="fw-700 mb-0 mt-0 font-md text-grey-900">{{title}}</h2>
              <div class="search-form-2 ms-auto">
                <i class="ti-search font-xss"></i>
                <input type="text" class="form-control text-grey-500 mb-0 bg-greylight theme-dark-bg border-0" #key
                       (change)="findFriend(key.value)" placeholder="Search here.">
              </div>
              <a href="#" class="btn-round-md ms-2 bg-greylight theme-dark-bg rounded-3"><i
                class="feather-filter font-xss text-grey-500"></i></a>
            </div>
          </div>

          <div class="row ps-2 pe-2">
            <div class="col-md-3 col-sm-4 pe-2 ps-2" *ngFor="let user of listFriend">
              <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                <div class="card-body d-block w-100 ps-3 pe-3 pb-4 text-center">
                  <figure class="avatar ms-auto me-auto mb-0 position-relative w75 h75 z-index-1"><img
                    [src]="user.avatar" alt="image"
                    class="float-right p-0 bg-white rounded-circle w-100 h-100 shadow-xss"></figure>
                  <div class="clearfix"></div>
                  <h4 class="fw-700 font-xss mt-3 mb-1">{{user.username}}</h4>
                  <app-mutual-friend [userId]="user.userId"></app-mutual-friend>
                  <p class="fw-500 font-xsss text-grey-500 mt-0 mb-3">{{user.email}}</p>
                  <a href="#"
                     class="mt-0 btn pt-2 pb-2 ps-3 pe-3 lh-24 ms-1 ls-3 d-inline-block rounded-xl bg-success font-xsssss fw-700 ls-lg text-white">UNFRIEND</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
