<div class="color-theme-blue mont-font">
  <div class="main-wrapper">
    <!-- main content -->
    <div class="main-content bg-lightblue theme-dark-bg right-chat-active">

      <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left">
          <div class="middle-wrap">
            <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
              <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
                <a href="javascript:history.back()" class="d-inline-block mt-2"><i
                  class="ti-arrow-left font-sm text-white"></i></a>
                <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Account Details</h4>
              </div>
              <div class="card-body p-lg-5 p-4 w-100 border-0 ">
                <div class="row justify-content-center">
                  <div class="col-lg-4 text-center">
                    <figure class="avatar ms-auto me-auto mb-0 mt-2 w100"><img height="100" width="100" [src]="user?.avatar" alt="image" class="shadow-sm rounded-3 w-100"></figure>

                    <h2 class="fw-700 font-sm text-grey-900 mt-3">{{user.firstName}} {{user.lastName}}</h2>
                    <h4 class="text-grey-500 fw-500 mb-3 font-xsss mb-4">{{user.username}}</h4>
                  </div>
                </div>
                <form [formGroup]="editForm" (ngSubmit)="update(user.userId)">
                  <div class="row">
                    <div class="col-lg-6 mb-3">
                      <div class="form-group">
                        <input formControlName="userId" type="hidden">
                        <input formControlName="password" type="hidden">
                        <input formControlName="username" type="hidden">
                        <input formControlName="enabled" type="hidden">
                        <label class="mont-font fw-600 font-xsss">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName">
                        <div style="color:red;"
                             *ngIf="!editForm.controls.firstName.valid && (editForm.controls.firstName.dirty ||editForm.controls.firstName.touched)">
                          <div [hidden]="!editForm.controls.firstName.errors.required">
                            <span>First Name is required</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName">
                        <div style="color:red;"
                             *ngIf="!editForm.controls.lastName.valid && (editForm.controls.lastName.dirty ||editForm.controls.lastName.touched)">
                          <div [hidden]="!editForm.controls.lastName.errors.required">
                            <span>Last Name is required</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Email</label>
                        <input type="text" class="form-control" formControlName="email">
                        <div style="color:red;"
                             *ngIf="!editForm.controls.email.valid && (editForm.controls.email.dirty ||editForm.controls.email.touched)">
                          <div [hidden]="!editForm.controls.email.errors.required">
                            <span>Email is required</span>
                          </div>
                          <div [hidden]="!editForm.controls.email.errors.email">
                            <span>Invalid email must have @</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                      <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Phone</label>
                        <input type="text" class="form-control" formControlName="phone">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 mb-3">
                      <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Address</label>
                        <input type="text" class="form-control" formControlName="address">
                      </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                      <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Hobbies</label>
                        <input type="text" class="form-control" formControlName="hobbies">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 mb-3">
                      <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Birthday</label>
                        <input type="text" class="form-control" formControlName="birthDay">
                      </div>
                    </div>

                    <div class="col-lg-12 mb-3">
                      <div class="card mt-3 border-0">
                        <div class="card-body d-flex justify-content-between align-items-end p-0">
                          <div class="form-group mb-0 w-100">
                            <input type="file" id="file" accept="image/*" (change)="showPreview($event)">
                            <!--                            <input type="file" name="file" id="file" class="input-file" formControlName="avatar">-->
                            <!--                            <label for="file" class="rounded-3 text-center bg-white btn-tertiary js-labelFile p-4 w-100 border-dashed">-->
                            <!--                              <i class="ti-cloud-down large-icon me-3 d-block"></i>-->
                            <!--                              <span class="js-fileName">Drag and drop or click to replace</span>-->
                            <!--                            </label>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                      <label class="mont-font fw-600 font-xsss">About</label>
                      <textarea class="form-control mb-0 p-3 h100 bg-greylight lh-16" rows="5"
                                placeholder="Write your message..." spellcheck="false"
                                formControlName="about"></textarea>
                    </div>

                    <div class="col-lg-12">
                      <button type="submit"
                              class="bg-current text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block">
                        Save
                      </button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
            <!-- <div class="card w-100 border-0 p-2"></div> -->
          </div>
        </div>

      </div>
    </div>
    <!-- main content -->

    <!-- right chat -->



    <!-- right chat -->

    <div class="app-footer border-0 shadow-lg bg-primary-gradiant">
      <a href="default.html" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
      <a href="default-video.html" class="nav-content-bttn"><i class="feather-package"></i></a>
      <a href="default-live-stream.html" class="nav-content-bttn" data-tab="chats"><i class="feather-layout"></i></a>
      <a href="shop-2.html" class="nav-content-bttn"><i class="feather-layers"></i></a>
      <a href="default-settings.html" class="nav-content-bttn"><img src="https://via.placeholder.com/50x50.png"
                                                                    alt="user" class="w30 shadow-xss"></a>
    </div>

    <div class="app-header-search">

    </div>

  </div>
</div>

