<div class="main-content right-chat-active">

  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
      <div class="row">
        <app-user-header [user]="user" [id]="user.userId"></app-user-header>
        <div class="col-xl-4 col-xxl-3 col-lg-4 pe-0">
          <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3 mt-3">
            <div class="card-body p-3 border-0">
              <div class="row">
                <div class="col-12 ps-1" *ngIf="user.address">
                  <h4 class="font-xsss d-block fw-700 mt-2 mb-0">Address</h4>
                  <p class="font-xssss fw-600 text-grey-500 lh-26 mb-0">{{user.address}}</p>
                </div>
                <div class="col-12 ps-1" *ngIf="user.phone">
                  <h4 class="font-xsss d-block fw-700 mt-2 mb-0">Phone</h4>
                  <p class="font-xssss fw-600 text-grey-500 lh-26 mb-0">{{user.phone}}</p>
                </div>
                <div class="col-12 ps-1" *ngIf="user.birthDay">
                  <h4 class="font-xsss d-block fw-700 mt-2 mb-0">Birthday</h4>
                  <p class="font-xssss fw-600 text-grey-500 lh-26 mb-0">{{user.birthDay}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
            <div class="card-body d-block p-4">
              <h4 class="fw-700 mb-3 font-xsss text-grey-900">About</h4>
              <p class="fw-500 text-grey-500 lh-24 font-xssss mb-0">{{user.about}}</p>
            </div>
            <div class="card-body border-top-xs d-flex">
              <i class="feather-lock text-grey-500 me-3 font-lg"></i>
              <h4 class="fw-700 text-grey-900 font-xssss mt-0">Private <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">What's up, how are you?</span></h4>
            </div>

            <div class="card-body d-flex pt-0">
              <i class="feather-eye text-grey-500 me-3 font-lg"></i>
              <h4 class="fw-700 text-grey-900 font-xssss mt-0">Visble <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">Anyone can find you</span></h4>
            </div>
            <div class="card-body d-flex pt-0">
              <i class="feather-map-pin text-grey-500 me-3 font-lg"></i>
              <h4 class="fw-700 text-grey-900 font-xssss mt-1">Flodia, Austia </h4>
            </div>
            <div class="card-body d-flex pt-0">
              <i class="feather-users text-grey-500 me-3 font-lg"></i>
              <h4 class="fw-700 text-grey-900 font-xssss mt-1">Genarel Group</h4>
            </div>
          </div>
          <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
            <div class="card-body d-flex align-items-center  p-4">
              <h4 class="fw-700 mb-0 font-xssss text-grey-900">Photos</h4>
              <a href="#" class="fw-600 ms-auto font-xssss text-primary">See all</a>
            </div>
            <div class="card-body d-block pt-0 pb-2">
              <div class="row">
                <div class="col-6 mb-2 pe-1"><a [href]="user.avatar" data-lightbox="roadtrip"><img [src]="user.avatar" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                <div class="col-6 mb-2 pe-1"><a [href]="user.avatar" data-lightbox="roadtrip"><img [src]="user.avatar" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                <div class="col-6 mb-2 pe-1"><a [href]="user.avatar" data-lightbox="roadtrip"><img [src]="user.avatar" alt="image" class="img-fluid rounded-3 w-100"></a></div>
                <div class="col-6 mb-2 pe-1"><a [href]="user.avatar" data-lightbox="roadtrip"><img [src]="user.avatar" alt="image" class="img-fluid rounded-3 w-100"></a></div>
              </div>
            </div>
            <div class="card-body d-block w-100 pt-0">
              <a href="#" class="p-2 lh-28 w-100 d-block bg-grey text-grey-800 text-center font-xssss fw-700 rounded-xl"><i class="feather-external-link font-xss me-2"></i> More</a>
            </div>
          </div>

          <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3" *ngIf="isUser">
            <div class="card-body d-flex align-items-center  p-4">
              <h4 class="fw-700 mb-0 font-xssss text-grey-900">Friends <span class="font-xssss fw-500 mt-1 lh-3 text-grey-500">({{listFriend.length}})</span></h4>
              <a [routerLink]="['/users/list-friend/',user.userId]" class="fw-600 ms-auto font-xssss text-primary">See all</a>
            </div>
            <div class="card-body d-block pt-0 pb-2">
              <div class="row">
                <div class="col-6 mb-2 pe-1 text-center" *ngFor="let user of listFriend;index as i">
                  <div *ngIf="i<4">
                    <a [routerLink]="['/users/user-profile',user.userId]">
                      <img [src]="user.avatar" alt="image" class="img-fluid rounded-3 h100 w-100 mb-1">
                      <p class="text-black font-sm mb-0">{{user.username}}</p>
                    </a>
                    <app-mutual-friend [userId]="user.userId"></app-mutual-friend>
                  </div>

                </div>
              </div>
            </div>
            <div class="card-body d-block w-100 pt-0">
              <a [routerLink]="['/users/list-friend/',user.userId]" class="p-2 lh-28 w-100 d-block bg-grey text-grey-800 text-center font-xssss fw-700 rounded-xl"><i class="feather-external-link font-xss me-2"></i> More</a>
            </div>
          </div>

          <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
            <div class="card-body d-flex align-items-center  p-4">
              <h4 class="fw-700 mb-0 font-xssss text-grey-900">Event</h4>
              <a href="#" class="fw-600 ms-auto font-xssss text-primary">See all</a>
            </div>
            <div class="card-body d-flex pt-0 ps-4 pe-4 pb-3 overflow-hidden">
              <div class="bg-success me-2 p-3 rounded-xxl"><h4 class="fw-700 font-lg ls-3 lh-1 text-white mb-0"><span class="ls-1 d-block font-xsss text-white fw-600">FEB</span>22</h4></div>
              <h4 class="fw-700 text-grey-900 font-xssss mt-2">Meeting with clients <span class="d-block font-xsssss fw-500 mt-1 lh-4 text-grey-500">41 madison ave, floor 24 new work, NY 10010</span> </h4>
            </div>

            <div class="card-body d-flex pt-0 ps-4 pe-4 pb-3 overflow-hidden">
              <div class="bg-warning me-2 p-3 rounded-xxl"><h4 class="fw-700 font-lg ls-3 lh-1 text-white mb-0"><span class="ls-1 d-block font-xsss text-white fw-600">APR</span>30</h4></div>
              <h4 class="fw-700 text-grey-900 font-xssss mt-2">Developer Programe <span class="d-block font-xsssss fw-500 mt-1 lh-4 text-grey-500">41 madison ave, floor 24 new work, NY 10010</span> </h4>
            </div>

            <div class="card-body d-flex pt-0 ps-4 pe-4 pb-3 overflow-hidden">
              <div class="bg-primary me-2 p-3 rounded-xxl"><h4 class="fw-700 font-lg ls-3 lh-1 text-white mb-0"><span class="ls-1 d-block font-xsss text-white fw-600">APR</span>23</h4></div>
              <h4 class="fw-700 text-grey-900 font-xssss mt-2">Aniversary Event <span class="d-block font-xsssss fw-500 mt-1 lh-4 text-grey-500">41 madison ave, floor 24 new work, NY 10010</span> </h4>
            </div>

          </div>
        </div>
        <div class="col-xl-8 col-xxl-9 col-lg-8">


          <app-create-post></app-create-post>


          <app-post-tile [posts]="posts"></app-post-tile>




        </div>
      </div>
    </div>

  </div>
</div>
