
<div *ngFor="let comment of comments">
  <div class="card-body border-top-xs pt-4 pb-3 pe-4 d-block ps-5">
    <figure class="avatar position-absolute left-0 ms-2 mt-1">
      <img [src]="comment?.userAvatar" alt="image" class="shadow-sm rounded-circle w35 h35">
    </figure>
    <div class="chat p-3 bg-greylight rounded-xxl d-block text-left theme-dark-bg">
      <h4 class="fw-700 text-grey-900 font-xssss mt-0 mb-1">{{comment.username}}<a href="#" class="ms-auto"><i
        class="ti-more-alt float-right text-grey-800 font-xsss"></i></a></h4>
      <p class="fw-500 text-grey-500 lh-20 font-xssss w-100 mt-2 mb-0">{{comment.text}}</p></div>
   <app-emotion-comment [comment]="comment"></app-emotion-comment>
  </div>
</div>
<div class="card-body p-0 mt-3 position-relative">
<figure class="avatar position-absolute ms-2 mt-1 top-5"><img [src]="currentUser?.avatar" alt="image" class="shadow-sm rounded-circle w30 h30"></figure>
<form [formGroup]="commentForm" (ngSubmit)="createComment()">
  <input [formControlName]="'text'" name="message"
            class=" bor-0 w-100 rounded-xxl p-2 ps-5 font-xssss text-grey-500 fw-500 border-light-md theme-dark-bg"
             placeholder="What's on your mind?"/>
<!--  <button type="submit" class="btn btn-primary" style="float: right">Submit</button>-->
</form>
</div>


