<div *ngFor="let comment of comments">
  <div class="card-body border-top-xs pt-4 pb-3 pe-4 d-block ps-5">
    <div class="row">
      <figure class="avatar position-absolute left-0 ms-2 mt-1 col-1">
        <a type="button" class="fw-700 text-grey-900 font-xssss mt-1"
           (click)="goToUserProfile(comment.userId)">
        <img [src]="comment?.userAvatar" alt="image" class="shadow-sm rounded-circle w35 h35">
        </a>
      </figure>
      <div class="chat col-md-10 p-3 bg-greylight rounded-xxl d-block text-left theme-dark-bg ms-3">
          <h4 class="fw-700 text-grey-900 font-xssss mt-0 mb-1">
            {{comment?.username}}
          </h4>
          <p class="fw-500 text-grey-500 lh-20 font-xssss w-100 mt-2 mb-0">{{comment.text}}</p>
          <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-50">{{comment.duration}}</span>
      </div>
      <div class="col-1">
        <i class="ti-more-alt float-right text-grey-800 font-xsss"></i>
      </div>
    </div>

    <app-emotion-comment [comment]="comment"></app-emotion-comment>
  </div>
</div>
<div class="card-body p-0 mt-3 position-relative">
  <figure class="avatar position-absolute ms-2 mt-1 top-5"><img [src]="currentUser?.avatar" alt="image"
                                                                class="shadow-sm rounded-circle w30 h30"></figure>
  <form [formGroup]="commentForm" (ngSubmit)="createComment()">
    <input [formControlName]="'text'" name="message"
           class=" bor-0 w-100 rounded-xxl p-2 ps-5 font-xssss text-grey-500 fw-500 border-light-md theme-dark-bg"
           placeholder="comment................"/>
  </form>
</div>


